.post-create {
	padding: 5%;
	display: flex;
	flex-direction: column;
	row-gap: 15px;
}

.post-create a {
	text-decoration: revert;
}

.post-create h2,
.post-create h3,
.post-create h5 {
	margin: revert;
}

.post-create p {
	margin: revert;
}

.post-create ol,
.post-create ul {
	padding: revert;
	margin: revert;
}

.post-create li {
	list-style: revert;
	margin-block: 1em;
}

.link {
	display: flex;
	align-items: center;
	column-gap: 5px;
	text-decoration: none;
}

.button-wrap {
	display: flex;
	justify-content: space-between;
}

.button-wrap button {
	padding: 10px;
}

.image-wrap {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	row-gap: 5px;
}

.upload-btn {
	font-weight: bold;
	align-self: self-start;
}

.main-image-wrap {
	max-height: 0;
	transition: max-height 0.15s ease-out;
}

.image-wrap.show-upload .main-image-wrap {
	max-height: 1000px;
	transition: max-height 0.3s ease-in;
}

.main-image.hide {
	position: relative;
	width: 100%;
	padding-top: 56.25%;
	border: 2px solid var(--dark-scheme-placeholder);
	border-style: dashed;
}

.main-image button {
	display: none;
}

.main-image.hide button {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.main-image .button-text {
	display: flex;
	flex-direction: column;
	row-gap: 5px;
	color: var(--dark-scheme-placeholder);
}

.main-image :global(#editor-image) {
	padding-top: 56.25%;
	outline: none;
}

.main-image :global(#editor-image) p {
	margin: 0;
}

.main-image.hide :global(#editor-image) {
	padding: 0;
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	height: 0;
}

.main-image :global(#editor-image) img {
	position: absolute;
	top: 0;
	left: 0;
	object-fit: cover;
	width: 100%;
	height: 100%;
	border-radius: 10px;
	outline: none;
}

.post-create :global(#editor-title),
.post-create :global(#editor-content) {
	outline: 0;
}

.post-create :global(#editor-image) {
	cursor: pointer;
}

.post-create
	:global(
		.mce-content-body:not([dir="rtl"])[data-mce-placeholder]:not(
				.mce-visualblocks
			)::before
	) {
	left: auto;
	top: 50%;
	transform: translateY(-50%);
	color: var(--dark-scheme-placeholder);
	cursor: text;
}

.post-create :global(#editor-content) figure {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 15px;
}

.post-create :global(#editor-content) img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
	object-fit: cover;
}

.post-create
	:global(#editor-content.mce-content-body:not([dir="rtl"]) blockquote) {
	border-left: 2px solid var(--dark-scheme-placeholder);
	margin-left: 1.5rem;
	padding-left: 1rem;
}

.post-create :global(#editor-content pre[class*="language-"]) {
	background-color: var(--light-scheme-layout-bgc);
	text-shadow: none;
	font-family: unset;
}

.container {
	flex: 1 1 100%;
}

.container h3,
.container h5 {
	font-weight: normal;
}

.container h2 {
	font-size: 1.5rem;
}

.editors {
	display: flex;
	flex-direction: column;
	row-gap: 15px;
}

.editors.loading {
	display: none;
}

.left-arrow {
	--size: var(--icon-size-desktop);

	mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='208' height='208' viewBox='0 0 20 20'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M18 10a.75.75 0 0 1-.75.75H4.66l2.1 1.95a.75.75 0 1 1-1.02 1.1l-3.5-3.25a.75.75 0 0 1 0-1.1l3.5-3.25a.75.75 0 1 1 1.02 1.1l-2.1 1.95h12.59A.75.75 0 0 1 18 10' clip-rule='evenodd'/%3E%3C/svg%3E");
	height: var(--size);
	width: var(--size);
}

.down-arrow {
	--size: var(--icon-size-desktop);

	mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='208' height='208' viewBox='0 0 20 20'%3E%3Cpath fill='%23000' d='m15 8l-4.03 6L7 8z'/%3E%3C/svg%3E");
	height: var(--size);
	width: var(--size);
}

.image-wrap:not(.show-upload) .down-arrow {
	transform: rotate(-90deg);
}

/* Pseudo classes */
.link:hover {
	text-decoration: underline;
}

/* Dark scheme classes */
:global(.dark) .upload-btn {
	color: var(--dark-scheme-color);
}

:global(.dark) .post-create {
	color: var(--dark-scheme-color);
}

:global(.dark) .post-create :global(#editor-content pre[class*="language-"]) {
	background-color: var(--dark-scheme-input-bgc);
	color: var(--dark-scheme-color);
}

:global(.dark)
	.post-create
	:global(#editor-content.mce-content-body:not([dir="rtl"]) blockquote) {
	border-color: var(--dark-scheme-color);
}

@media (width >= 450px) {
	.post-create {
		padding: 5% 10%;
	}
}

@media (width >= 700px) {
	.post-create {
		padding: 5% 15%;
	}

	.editors {
		row-gap: 30px;
	}

	.container h2 {
		font-size: 2rem;
	}
}

@media (width >= 1000px) {
	.post-create {
		padding: 5% 10%;
	}

	.main-image-wrap {
		padding: 0 10%;
	}

	.editors {
		row-gap: 40px;
	}
}

@media (width >= 1600px) {
	.post-create {
		padding: 5% 0;
	}
}
