.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: var(--light-scheme-layout-bgc);
	box-shadow: 0px 5px 5px 1px var(--light-scheme-layout-shadow);
	z-index: 2;
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
}

.header > a {
	height: 100%;
	display: flex;
	align-items: center;
}

.logo {
	padding: 10px;
}

.logo h1 {
	color: var(--light-scheme-highlight);
}

.list {
	display: flex;
}

.list li {
	min-width: 80px;
}

.list li > * {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 5px;
	padding: 10px;
	color: var(--light-scheme-color);
}

.list li.toggleBtn {
	display: none;
}

.switch {
	display: flex;
	align-items: center;
}

.pencil {
	mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 50 50'%3E%3Cpath fill='%23000' d='m9.6 40.4l2.5-9.9L27 15.6l7.4 7.4l-14.9 14.9zm4.3-8.9l-1.5 6.1l6.1-1.5L31.6 23L27 18.4z'/%3E%3Cpath fill='%23000' d='M17.8 37.3c-.6-2.5-2.6-4.5-5.1-5.1l.5-1.9c3.2.8 5.7 3.3 6.5 6.5z'/%3E%3Cpath fill='%23000' d='m29.298 19.287l1.414 1.414l-13.01 13.02l-1.414-1.41zM11 39l2.9-.7c-.3-1.1-1.1-1.9-2.2-2.2zm24-16.6L27.6 15l3-3l.5.1c3.6.5 6.4 3.3 6.9 6.9l.1.5zM30.4 15l4.6 4.6l.9-.9c-.5-2.3-2.3-4.1-4.6-4.6z'/%3E%3C/svg%3E");
	height: var(--icon-size-desktop);
	width: var(--icon-size-desktop);
}

.account {
	mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M6.196 17.485q1.275-.918 2.706-1.451Q10.332 15.5 12 15.5t3.098.534t2.706 1.45q.99-1.025 1.593-2.42Q20 13.667 20 12q0-3.325-2.337-5.663T12 4T6.337 6.338T4 12q0 1.667.603 3.064q.603 1.396 1.593 2.42m5.805-4.984q-1.264 0-2.133-.868T9 9.501t.868-2.133T12 6.5t2.132.868T15 9.5t-.868 2.132t-2.131.868M12 21q-1.883 0-3.525-.701t-2.858-1.916t-1.916-2.858T3 12t.701-3.525t1.916-2.858q1.216-1.215 2.858-1.916T12 3t3.525.701t2.858 1.916t1.916 2.858T21 12t-.701 3.525t-1.916 2.858q-1.216 1.215-2.858 1.916T12 21m0-1q1.383 0 2.721-.484q1.338-.483 2.313-1.324q-.974-.783-2.255-1.237T12 16.5t-2.789.445t-2.246 1.247q.975.84 2.314 1.324T12 20m0-8.5q.842 0 1.421-.579T14 9.5t-.579-1.421T12 7.5t-1.421.579T10 9.5t.579 1.421T12 11.5m0 6.75'/%3E%3C/svg%3E");
	height: var(--icon-size-desktop);
	width: var(--icon-size-desktop);
}

/* Pseudo classes */
.list li:hover {
	background-color: rgba(var(--light-scheme-color-rgb), 0.2);
}

/* Dark scheme classes */
:global(.dark) .header {
	background-color: var(--dark-scheme-layout-bgc);
	box-shadow: none;
	border-bottom: 1px solid var(--dark-scheme-color);
}

:global(.dark) .logo h1 {
	color: var(--dark-scheme-highlight);
}

:global(.dark) .list li > * {
	color: var(--dark-scheme-color);
}

:global(.dark) .list li:hover {
	background-color: rgba(var(--dark-scheme-color-rgb), 0.2);
}

@media (min-width: 450px) {
	.list li.toggleBtn {
		display: block;
	}
	.pencil,
	.account {
		height: var(--icon-size-mobile);
		width: var(--icon-size-mobile);
	}
}
@media (min-width: 700px) {
	.header {
		padding: 0 15px;
	}
	.list {
		column-gap: 30px;
	}
}

@media (min-width: 1000px) {
	.header {
		padding: 0 40px;
	}
	.list {
		column-gap: 40px;
	}
}

@media (min-width: 1300px) {
	.header {
		padding: 0 50px;
	}
	.list {
		column-gap: 50px;
	}
}
