.app {
	display: flex;
	flex-direction: column;
	background-color: var(--light-scheme-main-bgc);
	height: 100%;
	overflow: auto;
}

.header-bar {
	position: sticky;
	top: 0;
	right: 0;
	left: 0;
	z-index: 2;
}

.container {
	display: flex;
	flex: 1 1 100%;
	flex-direction: column;
}

.app main {
	width: 100%;
	height: 100%;
}

.app main > * {
	width: 100%;
	height: 100%;
}

/* Dark scheme classes */
:global(.dark).app {
	background-color: var(--dark-scheme-layout-bgc);
}

@media (width >= 1300px) {
	.app main {
		margin: 0 auto;
		max-width: 1300px;
	}
}
