.app {
	display: flex;
	flex: 1 1 100%;
	flex-direction: column;
	justify-content: space-between;
	background-color: var(--light-scheme-main-bgc);
}

.header-bar {
	position: sticky;
	top: 0;
	right: 0;
	left: 0;
	z-index: 2;
}

.container {
	display: flex;
	position: relative;
	flex: 1 1 100%;
	flex-direction: column;
}

.app main {
	display: flex;
	flex: 1 1 100%;
	flex-direction: column;
	z-index: 1;
}

/* Dark scheme classes */
:global(.dark).app {
	background-color: var(--dark-scheme-layout-bgc);
}
