.contact {
	display: none;
}

.container {
	display: flex;
	column-gap: 20px;
	align-items: center;
}

.container a {
	display: flex;
	column-gap: 10px;
	align-items: center;
}

.container a em {
	text-decoration: underline;
	text-underline-offset: 3px;
}

/* Pseudo classes */
.container a:hover {
	color: var(--light-scheme-highlight);
}

/* Dark scheme classes */
:global(.dark) .container a:hover {
	color: var(--dark-scheme-highlight);
}

@media (width >= 450px) {
	.contact {
		display: flex;
		row-gap: 15px;
		flex-direction: column;
		background-color: var(--light-scheme-main-bgc);
		padding: 0 10% 5%;
	}

	.email {
		width: var(--icon-size-mobile);
		height: var(--icon-size-mobile);
	}

	/* Dark scheme classes */
	:global(.dark) .contact {
		background-color: var(--dark-scheme-layout-bgc);
		color: var(--dark-scheme-color);
	}

	:global(.dark) .contact a {
		color: var(--dark-scheme-color);
	}
}

@media (width >= 700px) {
	.contact {
		padding: 0 15% 5%;
	}
}

@media (width >= 1000px) {
	.contact {
		row-gap: 20px;
		padding: 0 10% 5%;
	}
}

@media (width >= 1300px) {
	.contact {
		display: none;
	}
}
