.model {
	position: relative;
	border: 2px solid var(--light-scheme-color);
	border-radius: 8px;
	background-color: var(--light-scheme-layout-bgc);
	width: 75%;
	color: var(--light-scheme-color);
}

/* Dark scheme classes */
:global(.dark) .model {
	border: 2px solid var(--dark-scheme-color);
	background-color: var(--dark-scheme-input-bgc);
	color: var(--dark-scheme-color);
}

@media (width >= 600px) {
	.model {
		width: 55%;
	}
}

@media (width >= 700px) {
	.model {
		width: 45%;
	}
}

@media (width >= 1300px) {
	.model {
		width: 35%;
	}
}
