.dashboard {
	display: flex;
	row-gap: 15px;
	flex: 1 1 100%;
	flex-direction: column;
	padding: 5%;
}

.table-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.link {
	display: flex;
	align-items: center;
	padding: 10px;
}

.container {
	display: flex;
	flex: 1 1 100%;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.dashboard table {
	display: block;
	box-shadow: 0 0 20px rgba(var(--light-scheme-highlight-rgb) 0.35);
	border-collapse: collapse;
	width: 100%;
	overflow-x: auto;
	white-space: nowrap;
}

.thead {
	background-color: var(--light-scheme-highlight);
	color: var(--dark-scheme-color);
}

.thead-rows {
	border-right: 2px solid var(--light-scheme-highlight);
	border-left: 2px solid var(--light-scheme-highlight);
}

.thead-rows th {
	padding: 20px 10px;
}

.thead-rows th:nth-of-type(1) {
	width: 100%;
}

.thead-rows th:nth-of-type(2),
.thead-rows th:nth-of-type(4),
.thead-rows th:nth-of-type(5) {
	min-width: 80px;
}

.thead-rows th:nth-of-type(3) {
	min-width: 160px;
}

/* Dark scheme classes */
:global(.dark) .dashboard {
	color: var(--dark-scheme-color);
}

:global(.dark) .dashboard table {
	box-shadow: 0 0 20px rgba(var(--dark-scheme-highlight-rgb) 0.35);
}

:global(.dark) .thead-rows {
	border: 2px solid var(--dark-scheme-table);
	border-bottom: 0;
}

:global(.dark) .thead-rows th {
	background-color: var(--dark-scheme-table);
	color: var(--light-scheme-color);
}

@media (width >= 450px) {
	.dashboard {
		padding: 5% 10%;
	}
}

@media (width >= 700px) {
	.dashboard {
		padding: 5% 15%;
	}
}

@media (width >= 800px) {
	.dashboard table {
		display: revert;
	}
}

@media (width >= 900px) {
	.thead-rows th:nth-of-type(3) {
		min-width: 200px;
	}
}

@media (width >= 1000px) {
	.dashboard {
		padding: 5% 10%;
	}
}

@media (width >= 1600px) {
	.dashboard {
		padding: 5% 0;
	}
}
