.dashboard {
	display: flex;
	row-gap: 15px;
	flex-direction: column;
	padding: 5%;
}

.container {
	display: flex;
	flex: 1 1 100%;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.button-wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.button-wrap span {
	align-self: flex-end;
}

.button-wrap a {
	display: flex;
	align-items: center;
	padding: 10px;
}

.dashboard table {
	display: block;
	box-shadow: 0 0 20px rgba(var(--light-scheme-highlight-rgb) 0.35);
	border-collapse: collapse;
	width: 100%;
	overflow-x: auto;
	white-space: nowrap;
}

.dashboard tr {
	border-right: 2px solid var(--light-scheme-highlight);
	border-left: 2px solid var(--light-scheme-highlight);
}

.dashboard th {
	border-right: 2px solid var(--light-scheme-highlight);
	border-left: 2px solid var(--light-scheme-highlight);
	background-color: var(--light-scheme-highlight);
	padding: 20px 10px;
	color: var(--dark-scheme-color);
	font-weight: bolder;
}

.dashboard tbody tr {
	border-bottom: 2px solid var(--light-scheme-highlight);
}

.dashboard tr:nth-of-type(odd) {
	background-color: var(--light-scheme-table2);
}

.dashboard tr:nth-of-type(even) {
	background-color: rgba(var(--light-scheme-table-rgb), 0.2);
}

:global(.dark) .dashboard tr {
	border: 2px solid var(--dark-scheme-table);
	border-bottom: 0;
}

.dashboard tbody tr:last-of-type {
	border-bottom: 4px solid var(--light-scheme-highlight);
}

.dashboard td:not(:first-of-type) {
	text-align: center;
}

/* Dark scheme classes */
:global(.dark) .dashboard {
	color: var(--dark-scheme-color);
}

:global(.dark) .dashboard table {
	box-shadow: 0 0 20px rgba(var(--dark-scheme-highlight-rgb) 0.35);
}

:global(.dark) .dashboard th {
	border-right: 2px solid var(--dark-scheme-table);
	border-left: 2px solid var(--dark-scheme-table);
	background-color: var(--dark-scheme-table);
	color: var(--light-scheme-color);
}

:global(.dark) .dashboard tr:nth-of-type(odd) {
	background-color: var(--dark-scheme-input-bgc);
}

:global(.dark) .dashboard tr:nth-of-type(even) {
	background-color: var(--dark-scheme-switch-bgc);
}

:global(.dark) .dashboard tbody tr:last-of-type {
	border-bottom: 4px solid var(--dark-scheme-table);
}

@media (width >= 450px) {
	.dashboard {
		padding: 5% 10%;
	}
}

@media (width >= 700px) {
	.dashboard {
		padding: 5% 15%;
	}
}

@media (width >= 775px) {
	.dashboard table {
		display: revert;
	}
}

@media (width >= 1000px) {
	.dashboard {
		padding: 5% 10%;
	}
}

@media (width >= 1600px) {
	.dashboard {
		padding: 5% 0;
	}
}
