.delete-model {
	padding: 15px;
	display: flex;
	flex-direction: column;
	row-gap: 20px;
}

.delete-model .title {
	font-weight: 700;
}

.delete-model .content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	row-gap: 10px;
}

.delete-model .content > p {
	text-align: center;
}

.delete-model .button-wrap {
	display: flex;
	justify-content: space-evenly;
}

.delete-model .button-wrap button {
	width: 40%;
}

@media (min-width: 450px) {
	.delete-model {
		padding: 20px;
		row-gap: 40px;
	}
}

@media (min-width: 1000px) {
	.delete-model {
		padding: 30px 40px;
	}
}
