.delete-model {
	display: flex;
	row-gap: 20px;
	flex-direction: column;
	padding: 15px;
}

.delete-model .title {
	font-weight: 700;
}

.delete-model .content {
	display: flex;
	row-gap: 10px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.delete-model .content > p {
	text-align: center;
}

.delete-model .button-wrap {
	display: flex;
	justify-content: space-evenly;
}

.delete-model .button-wrap button {
	width: 40%;
}

.post-title {
	width: 100%;
	overflow: scroll;
	font-style: italic;
	font-weight: bolder;
	font-size: 1.5rem;
	white-space: nowrap;
}

@media (width >= 450px) {
	.delete-model {
		row-gap: 40px;
		padding: 20px;
	}
}

@media (width >= 1000px) {
	.delete-model {
		padding: 30px 40px;
	}
}
