.app {
	height: 100%;
	overflow: auto;
	display: flex;
	flex-direction: column;
}

.headerBar {
	z-index: 2;
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
}

.container {
	display: flex;
	flex-direction: column;
	flex: 1 1 100%;
}

.app main {
	height: 100%;
	width: 100%;
}

.app main > * {
	width: 100%;
	height: 100%;
}

@media (min-width: 1300px) {
	.app main {
		max-width: 1300px;
		margin: 0 auto;
	}
}
