/* normalize */
@import url("https://necolas.github.io/normalize.css/latest/normalize.css");
/* Roboto font */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,500;1,700&display=swap");

:root {
	/* light */
	--light-scheme-color: rgb(0, 0, 0);
	--light-scheme-color-rgb: 0, 0, 0;

	--light-scheme-layout-bgc: rgb(220, 214, 214);
	--light-scheme-layout-bgc-rgb: 220, 214, 214;

	--light-scheme-layout-shadow: rgb(187, 189, 195);
	--light-scheme-layout-shadow-rgb: 187, 189, 195;

	--light-scheme-main-bgc: rgb(245, 248, 254);
	--light-scheme-main-bgc-rgb: 245, 248, 254;

	--light-scheme-highlight: rgb(23, 80, 115);
	--light-scheme-highlight-rgb: 23, 80, 115;

	--light-scheme-success: rgb(11, 86, 61);
	--light-scheme-success-rgb: 11, 86, 61;

	--light-scheme-error: rgb(145, 29, 29);
	--light-scheme-error-rgb: 145, 29, 29;

	/* dark */
	--dark-scheme-color: rgb(209, 209, 209);
	--dark-scheme-color-rgb: 209, 209, 209;

	--dark-scheme-layout-bgc: rgb(10, 19, 36);
	--dark-scheme-layout-bgc-rgb: 10, 19, 36;

	--dark-scheme-layout-border-shadow: rgb(202, 205, 212);
	--dark-scheme-layout-border-shadow-rgb: 202, 205, 212;


	--dark-scheme-input-bgc: rgb(72, 59, 46);
	--dark-scheme-input-bgc-rgb: 72, 59, 46;

	--dark-scheme-switch-bgc: rgb(87, 54, 20);
	--dark-scheme-switch-bgc-rgb: 87, 54, 20;

	--dark-scheme-placeholder: rgb(168, 168, 168);
	--dark-scheme-placeholder-rgb: 168, 168, 168;

	--dark-scheme-highlight: rgb(242, 161, 69);
	--dark-scheme-highlight-rgb: 242, 161, 69;

	--dark-scheme-success: rgb(92, 178, 151);
	--dark-scheme-success-rgb: 92, 178, 151;

	--dark-scheme-error: rgb(236, 116, 116);
	--dark-scheme-error-rgb: 236, 116, 116;

	/* icon */
	--icon-size-mobile: 45px;
	--icon-size-desktop: 30px;
}

* {
	box-sizing: border-box;
	font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI",
		Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
		"Segoe UI Symbol";
	overflow-wrap: break-word;
	overflow-wrap: anywhere;
}
[hidden] {
	display: none !important;
}

body * {
	margin: 0;
	padding: 0;
}

#root {
	height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 700;
	line-height: 1.2em;
}

a {
	text-decoration: none;
	color: var(--light-scheme-color);
}

p {
	white-space: break-spaces;
	line-height: 1.5em;
}

button {
	background-color: transparent;
	border: 0;
	cursor: pointer;
}

li {
	list-style: none;
}

input,
select,
textarea {
	outline: 0;
}

input[type="file"] {
	display: none;
}

textarea {
	resize: none;
}

img {
	width: 100%;
	height: auto;
	vertical-align: middle;
}

/* Dark scheme classes */
.dark * {
	font-weight: 300;
}

.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark h5,
.dark h6,
.dark strong {
	font-weight: 500;
}

.dark img {
	filter: brightness(0.8) contrast(1.2);
}

.dark textarea {
	color: var(--dark-scheme-color);
}

.dark textarea::placeholder {
	color: var(--dark-scheme-placeholder);
}
