.content {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
}

.content > .labelWrap {
	display: flex;
	row-gap: 10px;
	flex-direction: column;
}

.content label {
	row-gap: 10px;
	display: flex;
	flex-direction: column;
}

.content label > input {
	border: 2px solid transparent;
	border-radius: 10px;
	padding: 10px;
	width: 100%;
}

.content label > textarea {
	border: 2px solid transparent;
	border-radius: 10px;
	padding: 10px;
	height: auto;
	width: 100%;
}

.content label + div {
	position: relative;
	margin-left: 30px;
	color: var(--light-scheme-error);
	opacity: 0;
	visibility: hidden;
}

.content label + div span:first-of-type {
	position: absolute;
	right: 100%;
	top: 50%;
	transform: translateY(-50%);
	margin-right: 5px;
}

.content label.error input {
	border-color: var(--light-scheme-error);
}
.content label.error + div {
	opacity: 1;
	visibility: visible;
}

.alert {
	--size: var(--icon-size-desktop);
	mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M12 17q.425 0 .713-.288T13 16t-.288-.712T12 15t-.712.288T11 16t.288.713T12 17m0-4q.425 0 .713-.288T13 12V8q0-.425-.288-.712T12 7t-.712.288T11 8v4q0 .425.288.713T12 13m0 9q-2.075 0-3.9-.788t-3.175-2.137T2.788 15.9T2 12t.788-3.9t2.137-3.175T8.1 2.788T12 2t3.9.788t3.175 2.137T21.213 8.1T22 12t-.788 3.9t-2.137 3.175t-3.175 2.138T12 22m0-2q3.35 0 5.675-2.325T20 12t-2.325-5.675T12 4T6.325 6.325T4 12t2.325 5.675T12 20m0-8'/%3E%3C/svg%3E");
	height: var(--size);
	width: var(--size);
}

/* Pseudo classes */
.content label:focus-within,
.content label:hover {
	color: var(--light-scheme-highlight);
}

.content label:focus-within > input,
.content label:hover > input,
.content label:focus-within > textarea,
.content label:hover > textarea {
	border-color: var(--light-scheme-highlight);
}

/* Dark scheme classes */
:global(.dark) .content label + div {
	color: var(--dark-scheme-error);
}

:global(.dark) .content label.error input {
	border-color: var(--dark-scheme-error);
}

:global(.dark) .content label:focus-within,
:global(.dark) .content label:hover {
	color: var(--dark-scheme-highlight);
}

:global(.dark) .content label > textarea {
	background-color: var(--dark-scheme-input-bgc);
}

:global(.dark) .content label:focus-within > input,
:global(.dark) .content label:hover > input,
:global(.dark) .content label:focus-within > textarea,
:global(.dark) .content label:hover > textarea {
	border-color: var(--dark-scheme-highlight);
}
