.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0 5px 5px 1px var(--light-scheme-layout-shadow);
	background-color: var(--light-scheme-layout-bgc);
}

.header > a {
	display: flex;
	align-items: center;
	height: 100%;
}

.logo {
	padding: 10px;
}

.logo h1 {
	color: var(--light-scheme-highlight);
}

.list {
	display: flex;
}

.list li {
	min-width: 80px;
}

.list li > * {
	display: flex;
	row-gap: 5px;
	flex-direction: column;
	align-items: center;
	padding: 10px;
	color: var(--light-scheme-color);
}

.list li.toggle-btn {
	display: none;
}

.pencil {
	mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 50 50'%3E%3Cpath fill='%23000' d='m9.6 40.4l2.5-9.9L27 15.6l7.4 7.4l-14.9 14.9zm4.3-8.9l-1.5 6.1l6.1-1.5L31.6 23L27 18.4z'/%3E%3Cpath fill='%23000' d='M17.8 37.3c-.6-2.5-2.6-4.5-5.1-5.1l.5-1.9c3.2.8 5.7 3.3 6.5 6.5z'/%3E%3Cpath fill='%23000' d='m29.298 19.287l1.414 1.414l-13.01 13.02l-1.414-1.41zM11 39l2.9-.7c-.3-1.1-1.1-1.9-2.2-2.2zm24-16.6L27.6 15l3-3l.5.1c3.6.5 6.4 3.3 6.9 6.9l.1.5zM30.4 15l4.6 4.6l.9-.9c-.5-2.3-2.3-4.1-4.6-4.6z'/%3E%3C/svg%3E");
	width: var(--icon-size-desktop);
	height: var(--icon-size-desktop);
}

.account {
	mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M6.196 17.485q1.275-.918 2.706-1.451Q10.332 15.5 12 15.5t3.098.534t2.706 1.45q.99-1.025 1.593-2.42Q20 13.667 20 12q0-3.325-2.337-5.663T12 4T6.337 6.338T4 12q0 1.667.603 3.064q.603 1.396 1.593 2.42m5.805-4.984q-1.264 0-2.133-.868T9 9.501t.868-2.133T12 6.5t2.132.868T15 9.5t-.868 2.132t-2.131.868M12 21q-1.883 0-3.525-.701t-2.858-1.916t-1.916-2.858T3 12t.701-3.525t1.916-2.858q1.216-1.215 2.858-1.916T12 3t3.525.701t2.858 1.916t1.916 2.858T21 12t-.701 3.525t-1.916 2.858q-1.216 1.215-2.858 1.916T12 21m0-1q1.383 0 2.721-.484q1.338-.483 2.313-1.324q-.974-.783-2.255-1.237T12 16.5t-2.789.445t-2.246 1.247q.975.84 2.314 1.324T12 20m0-8.5q.842 0 1.421-.579T14 9.5t-.579-1.421T12 7.5t-1.421.579T10 9.5t.579 1.421T12 11.5m0 6.75'/%3E%3C/svg%3E");
	width: var(--icon-size-desktop);
	height: var(--icon-size-desktop);
}

.sun {
	mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M12 5V3m0 18v-2M7.05 7.05L5.636 5.636m12.728 12.728L16.95 16.95M5 12H3m18 0h-2M7.05 16.95l-1.414 1.414M18.364 5.636L16.95 7.05M16 12a4 4 0 1 1-8 0a4 4 0 0 1 8 0'/%3E%3C/svg%3E");
	width: var(--icon-size-desktop);
	height: var(--icon-size-desktop);
}

.moon {
	mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='m17.75 4.09l-2.53 1.94l.91 3.06l-2.63-1.81l-2.63 1.81l.91-3.06l-2.53-1.94L12.44 4l1.06-3l1.06 3zm3.5 6.91l-1.64 1.25l.59 1.98l-1.7-1.17l-1.7 1.17l.59-1.98L15.75 11l2.06-.05L18.5 9l.69 1.95zm-2.28 4.95c.83-.08 1.72 1.1 1.19 1.85c-.32.45-.66.87-1.08 1.27C15.17 23 8.84 23 4.94 19.07c-3.91-3.9-3.91-10.24 0-14.14c.4-.4.82-.76 1.27-1.08c.75-.53 1.93.36 1.85 1.19c-.27 2.86.69 5.83 2.89 8.02a9.96 9.96 0 0 0 8.02 2.89m-1.64 2.02a12.08 12.08 0 0 1-7.8-3.47c-2.17-2.19-3.33-5-3.49-7.82c-2.81 3.14-2.7 7.96.31 10.98c3.02 3.01 7.84 3.12 10.98.31'/%3E%3C/svg%3E");
	width: var(--icon-size-desktop);
	height: var(--icon-size-desktop);
}

.transparent-background {
	position: fixed;
	inset: 0;
}

/* Pseudo classes */
.list li:hover {
	background-color: rgba(var(--light-scheme-color-rgb), 0.2);
}

/* Dark scheme classes */
:global(.dark) .header {
	box-shadow: none;
	border-bottom: 1px solid var(--dark-scheme-color);
	background-color: var(--dark-scheme-layout-bgc);
}

:global(.dark) .logo h1 {
	color: var(--dark-scheme-highlight);
}

:global(.dark) .list li > * {
	color: var(--dark-scheme-color);
}

:global(.dark) .list li:hover {
	background-color: rgba(var(--dark-scheme-color-rgb), 0.2);
}

@media (width >= 450px) {
	.list li.toggle-btn {
		display: block;
	}

	.pencil,
	.account {
		width: var(--icon-size-mobile);
		height: var(--icon-size-mobile);
	}
}

@media (width >= 700px) {
	.header {
		padding: 0 15px;
	}

	.list {
		column-gap: 30px;
	}
}

@media (width >= 1000px) {
	.header {
		padding: 0 40px;
	}

	.list {
		column-gap: 40px;
	}
}

@media (width >= 1300px) {
	.header {
		padding: 0 50px;
	}

	.list {
		column-gap: 50px;
	}
}
